<%
	require './compatcgi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

%><!DOCTYPE html>
<HTML>
	<HEAD>
		<TITLE>This is Test.</TITLE>
		<STYLE type='text/css'><!--
			p {
				color: red;
			}
			table {
				border: solid 1px #000000;
//				border-collapse: collapse;
			}
			td {
				border: solid 1px #000000;
				vertical-align: bottom;
				padding: 0px;
			}
			img {
				display: block;
			}
		--></STYLE>
	</HEAD>
	<BODY>

<P>This is Test.

<TABLE border='1'>
	<TR><TD><IMG src='images/td.png' width='512' height='1'><TD><IMG src='images/rd.png' width='512' height='1'>

	<TR><TD align='right'>request.query_string =			<TD><%= request.query_string.inspect %>

	<TR><TD align='right'>request.params['key'] =			<TD><%= request.params['key'].inspect %>
	<TR><TD align='right'>request.params['undef'] =			<TD><%= request.params['undef'].inspect %>

	<TR><TD align='right'>Rack.parse_query['key'] =			<TD><%= rack_params['key'].inspect %>
	<TR><TD align='right'>Rack.parse_query['undef'] =		<TD><%= rack_params['undef'].inspect %>

	<TR><TD align='right'>CompatCGI.params['key'] =			<TD><%= cgi.params['key'].inspect %>
	<TR><TD align='right'>CompatCGI.params['undef'] =		<TD><%= cgi.params['undef'].inspect %>
	<TR><TD align='right'>CompatCGI.params['undef'][0] =	<TD><%= cgi.params['undef'][0].inspect %>
</TABLE>

<FORM action='.' method='GET'>
	<INPUT type='hidden' name='key' value='value1'>
	<INPUT type='hidden' name='key' value='value2'>
	<INPUT type='submit' name='commit' value='do GET test'>
</FORM>

<FORM action='.' method='POST'>
	<INPUT type='hidden' name='key' value='value1'>
	<INPUT type='hidden' name='key' value='value2'>
	<INPUT type='submit' name='commit' value='do POST test'>
</FORM>

<A href='/indexes/'>do Indexes test</A>

	</BODY>
</HTML>

